.nb-list {
    .header {
        position: relative;
        height: 50px;
        line-height: 50px;
        padding: 0 20px;
        background: #f8f8f8;
        border-bottom: #eee 1px solid;
        h1 {
            font-size: 22px;
            font-weight: bold;
            color: $--primary-color;
        }
    }
    .btns {
        position: absolute;
        bottom: 10px;
        right: 10px;
        &:after {
            content:"."; display:block; height:0; clear:both; visibility:hidden;
        }
        .el-button {
            float: left;
            padding: 5px 5px;
            margin: 0 5px 0 0;
        }
    }
    .nb-btns {
        position: relative;
        .el-button {
            // display: none;
            border: none;
            background: #f8f8f8;
            // &.show {
            //     display: block;
            // }
        }
        // &:hover {
        //     .el-button {
        //         display: block;
        //     }
        // }
    }
    .list {
        padding: 20px 20px 0;
        dl {
            margin-bottom: 10px;
        }
        dt {
            position: relative;
            font-size: 14px;
            font-weight: bold;
            height: 45px;
            line-height: 45px;
            border-bottom: #ddd 1px dashed;
            margin-bottom: 10px;
        }
        dd {
            &:after {
                content:"."; display:block; height:0; clear:both; visibility:hidden;
            }
            .link {
                float: left;
                display: block;
                margin: 0 10px 8px 0;
            }
            li {
                position: relative;
                height: 45px;
                line-height: 45px;
                text-indent: 15px;
                background: $--primary-bg;
                margin-bottom: 15px;
            }
            section {
                position: relative;
                min-height: 54px;
                padding: 15px;
                background: $--primary-bg;
                margin-bottom: 8px;
                .btns {
                    top: -5px;
                    right: -10px;
                }
            }
        }
    }
}

// 弹窗样式
.nb-dialog {
    .el-dialog {
        position: absolute;
        top: 8px;
        left: 8px;
        right: 8px;
        bottom: 8px;
        margin: 0!important;
        width: auto;
    }
    .el-dialog__header {
        padding: 10px;
        text-align: center;
        border-bottom: #ddd 1px solid;
    }
    .el-dialog__headerbtn {
        top: 10px;
        right: 15px;
    }
    .el-dialog__body {
        height: calc(100% - 120px);
        padding: 30px 40px 20px 10px;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    .el-dialog__footer {
        position: absolute;
        bottom: 0;
        left: 0;
        width:100%;
        text-align: right;
        padding: 10px;
        border-top: #ddd 1px solid;
    }
}